{% extends "components/layout.njk" %}

{% set title = "Include" %}

{% block body %}

  {% include "components/a.njk" %}

  {% include "components/b.njk" %}

  {% include "components/c.njk" %}

{% endblock %}
