{% extends "dir-a/layout.njk" %}

{% set title = "Include" %}

{% block body %}

  {% include "dir-a/a.njk" %}

  {% include "dir-a/b.njk" %}

  {% include "dir-a/c.njk" %}

  {% include "dir-b/a.njk" %}

  {% include "dir-b/b.njk" %}

{% endblock %}
